@font-face {
	font-family: "PKMN RBYGSC";
	src: url('../fonts/PKMN\ RBYGSC.ttf');
}

@font-face {
	font-family: "Onett";
	src: url('../fonts/Onett.ttf');
}

/* Body */
body {
    color: var(--body-font-color);
	font-size: 12pt;
    background-image: var(--bg-image) !important;
}

body[data-theme="pkmn-blue"] {
	--bg-image: url('../images/backgrounds/bg-pkmnblue-tile.png');
    --header-image: url('https://cdn2.steamgriddb.com/hero_thumb/a2915ad0d57ca8c644f99f9c3f20a918.jpg');
    --badge-spritesheet: url('../images/misc/pkmnblue-badges.png');
}

body[data-theme="pkmn-crystal"] {
	--bg-image: url('../images/backgrounds/bg-pkmncrystal-tile.png');
    --header-image: url('https://cdn2.steamgriddb.com/hero_thumb/fcccfc1beffbaa487eb34db63fe3e823.jpg');
    --badge-spritesheet: url('../images/misc/pkmncrystal-badges.png');
}

.page-header {
    background-size: cover !important;
    background-position: center !important;
    background-image: var(--header-image) !important;
}

[data-gen="pkmn-rbygsc"] .pkmn-badge {
    display: inline-block !important;
    background: var(--badge-spritesheet);
    image-rendering: pixelated;
    border-radius: 0;
}

[data-gen="pkmn-rbygsc"] .pkmn-badge.badge {
    width: 16px;
    height: 16px;
    scale: 2;
}

[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-1 { background-position: 0px 0px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-2 { background-position: -16px 0px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-3 { background-position: -32px 0px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-4 { background-position: -48px 0px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-5 { background-position: 0px -16px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-6 { background-position: -16px -16px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-7 { background-position: -32px -16px; }
[data-gen="pkmn-rbygsc"] .pkmn-badge.badge.badge-8 { background-position: -48px -16px; }

.pkmn-blue hr {
    border-top: 6px double #181010;
    opacity: 1;
}

.pkmn-crystal hr {
    border-top: 4px solid #000;
    opacity: 1;
}

.pkmn-crystal .gender {
    width: 16px;
    height: 16px;
    image-rendering: pixelated;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -4px;
}

.pkmn-blue .trainer-card {
    background-image: url('../images/backgrounds/bg-pkmnblue-card.png');
    color: #181010 !important;
    font-family: "PKMN RBYGSC" !important;
    font-size: 16px !important;
    max-width: 750px;
}

.pkmn-crystal .trainer-card {
    background-image: url('../images/backgrounds/bg-pkmncrystal-card.png');
    color: #000 !important;
    font-family: "PKMN RBYGSC" !important;
    font-size: 16px !important;
    max-width: 795px;
}

.pkmn-blue .trainer-card-body {
    background: #F8E8F8;
    padding: 4px;
}

.pkmn-crystal .trainer-card-body {
    background: #fff;
    padding: 4px;
}

.pkmn-blue .trainer-card-content {
    box-shadow: 2px 0 #807098, -2px 0 #807098, 0 2px #807098, 0 -2px #807098;
}

.pkmn-blue img, .pkmn-crystal img {
    width: 112px;
    height: 112px;
    image-rendering: pixelated;
}

.trainer-infobox img {
    width: 168px !important;
    height: 168px !important;
}

.pkmn-blue .frame-box, .pkmn-crystal .frame-box {
    border: 6px double #181010;
}

.pkmn-blue .moves {
    max-width: 220px;
}

.pkmn-crystal .moves {
    max-width: 260px;
}

.accordion-item {
    background: none !important;
    border: none !important;
    color: inherit !important;
}

.pkmn-blue .accordion-item {
    max-width: 150px;
}

.pkmn-crystal .accordion-item {
    max-width: 170px;
}

/* Responsive */
@media (max-width: 768px) {
    .pkmn-blue .accordion-item, .pkmn-crystal .accordion-item {
        max-width: 250px;
    }

    .pkmn-blue .moves, .pkmn-crystal .moves {
        max-width: 320px;
    }
}

.accordion-container {
    height: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 0 var(--btn-border-color), -2px 0 var(--btn-border-color), 0 2px var(--btn-border-color), 0 -2px var(--btn-border-color);
}

.accordion-item button {
    border-radius: 0 !important;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: linear .07s;
    background: var(--btn-bg-color);
}

.accordion-item button:hover,
.accordion-item button:not(.collapsed) {
    background: var(--btn-hover-color);
}

.pkmn-blue .accordion-item {
    --btn-bg-color: #F8E8F8;
    --btn-border-color: #181010;
    --btn-hover-color: #807098;
}

.pkmn-crystal .accordion-item {
    --btn-border-color: #000;
    --btn-bg-color: #fff;
    --btn-hover-color: #D88870;
}


.pkmn-blue .nav-link img, .pkmn-blue .accordion-item button img,
.pkmn-crystal .nav-link img, .pkmn-crystal .accordion-item button img {
    width: 168px;
    height: 168px;
    position: absolute;
    image-rendering: pixelated;
}

[data-gen="pkmn-rbygsc"] .trainer-blurb,
.pkmn-blue .trainer-blurb,
.pkmn-crystal .trainer-blurb {
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    padding: .1rem .1rem 0 .1rem;
    font-family: "Onett" !important;
    font-size: 32px;
    line-height: 2rem;
    letter-spacing: .5px;
}