:root {
    --bg-color: #4D2A2A;
    --font-color: #ffece0;
    --link-color: #edb272;
    --link-hover-color: #a35c2a;
}

#statuscafe {
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: var(--font-color);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#statuscafe-username {
    margin-top: .5rem;
    width: 100%;
    order: 1;
    color: var(--link-color);
    font-size: small;
}

#statuscafe-username a {
    color: var(--link-color);
    display: none;
}

#statuscafe-username a:hover {
    color: var(--link-hover-color);
}

#statuscafe-content {
    margin: 0;
    order: 0;
}