@import "../utilities/bootstrap-5.3.8-dist/css/bootstrap.min.css";
@import "../utilities/fontawesome-free-7.1.0-web/css/all.min.css";


@font-face {
  font-family: 'Hello Bonia Serif';
  src: url('../fonts/HelloboniaserifRegular.otf');
}

@font-face {
  font-family: 'Lexend';
  src: url('../fonts/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Alegreya";
  src: url('../fonts/Alegreya-VariableFont_wght.ttf');
}


:root {
  --placeholder: #8b8b8b;
  --body-font-color: #ffece0;
  --body-bg-color: #200B0D;
  --body-container-bg-color: #3e2020;
  --title-dropshadow-color: #211412;
  --img-dropshadow-color: #ffece0;

  --info-title-color: #ffe5e0ce;
  --info-link-hover: #edb272;

  --body-card-bg-color: #4D2A2A;
  --navtab-bg-color: #a35c2a;

}

/******************************************************

*******************************************************/

body {
  background-image: url('../images/backgrounds/bg-tile-main.png');
  color: var(--body-font-color);
  font-family: "Lexend", sans-serif;
  font-size: 12pt;
}

h1 {
  font-family: 'Hello Bonia Serif', sans-serif;
  font-size: 3rem;
}

a {
  color: var(--info-link-hover);
  text-decoration: none;
  transition: ease all .2s;
}

a:hover {
  color: var(--navtab-bg-color);
}

/******************************************************

*******************************************************/

.main-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  border: 7px solid var(--body-bg-color);
  background: var(--body-bg-color);
  filter: drop-shadow(0 0 5px black)
  drop-shadow(0 0 10px var(--title-dropshadow-color));
}

.page-header {
  min-height: 175px;
  text-align: center;
  align-items: center;
  align-content: center;
  background: url('../images/backgrounds/bg-tile-animated.gif');
  position: relative;
}

.page-footer {
  min-height: 80px;
  text-align: center;
  align-items: center;
  align-content: center;
  border: 1px white solid;
}

.page-header-title, .page-header-subtitle {
  filter: drop-shadow(1px 1px 0 var(--title-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--title-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--title-dropshadow-color))
    drop-shadow(1px -1px 0 var(--title-dropshadow-color))
    drop-shadow(0 0 5px var(--title-dropshadow-color));
}

.page-header-subtitle {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: 'Alegreya', serif;
  font-weight: normal;
}

.page-body {
  background:  var(--body-container-bg-color);
}

.sidebar-header {
  text-transform: uppercase;
}

.sidebar-subheader {
  padding-left: 1em;
}

.unpublished {
  filter: grayscale(100%);
}

.char-directory-img {
  min-width: 150px;
  min-height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
  transition: ease 0.3s all;
}

.char-directory-img:hover {
  transform: rotate(5deg);
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
}

.char-directory-body {
  text-align: center;
}

.char-directory-title {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: .5px;
  margin-bottom: .1em;
}

.char-directory-title a {
  text-decoration-style: dashed;
  color: rgba(255,255,255,.7);
  transition: ease 0.2s all;
}

.char-directory-title a:hover {
  color: white;
  letter-spacing: 1.5px;
}

.char-directory-prns {
  color: white;
  font-size: .9em;
  padding: 3px 5px;
}

/******************************************************

*******************************************************/

.profile-icon {
  margin-top: -6rem;
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
    max-width: 250px;
}

.profile-sidebar {
  background: var(--body-container-bg-color);
}

.page-sidebar-tab {
  border-radius: 1em 0 0 1em;
  background: var(--navtab-bg-color);
  padding: .4em .6em;
  transition: ease-in-out all .2s;
  margin-bottom: .5rem;
}

.page-sidebar-tab:hover {
  margin-left: -.75rem;
}

.page-sidebar-tab a {
  text-transform: uppercase;
  color: var(--body-font-color);
  text-decoration: none;
}

.page-sidebar-back {
  border-radius: 0 1em 1em 0;
  background: var(--navtab-bg-color);
  padding: .4em .6em .4em 2em;
  transition: ease-in-out all .2s;
  text-align: end;
  position: absolute;
  left: -9px;
  top: 0;
}

.page-sidebar-back:hover {
  padding-left: 3em;
}

.page-sidebar-back a {
  color: var(--body-font-color);
  text-decoration: none;
}

.profile-info-title {
  font-size: .8rem;
  text-transform: uppercase;
  margin-bottom: 0;
  color: var(--info-link-hover);
}

.profile-info-divider {
  border-style: dashed;
}

a.profile-inline-img {
  min-height: 550px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
  transition: ease 0.3s all;
}

a.profile-inline-img:hover {
  transform: rotate(2deg);
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
}


@media (max-width: 768px) {
  .profile-tabs {
    font-size: 10pt;
    bottom: 0;
  }

  .profile-tabs .nav-item {
    margin-left: 0;
    margin-right: 0;
  }

  .profile-tabs .nav-item .nav-link {
    border: 3px solid var(--body-bg-color);
    padding: .2em .25em;
  }
}

.profile-tabs {
  border: 0;
  margin-bottom: 1px;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.profile-tabs .nav-item {
  margin-left: .3em;
  margin-right: .3em;
}

.profile-tabs .nav-item .nav-link {
  border-radius: 0;
  border: 5px solid var(--body-bg-color);
  border-bottom-width: 0px;
  background: var(--body-container-bg-color);
  padding: .4em .5em;
  text-transform: uppercase;
  color: var(--body-font-color);
  transition: ease-in-out all .2s;
}

.profile-tabs .nav-item .nav-link:hover {
  margin-top: -.4em;
  padding-bottom: .8em;
  color: var(--info-link-hover);
}

.profile-tabs .nav-item .nav-link:disabled {
  color: hsl(from var(--info-title-color) h s l / 0.3);
}

.profile-tabs .nav-item .nav-link:not(.active) {
  background: var(--body-bg-color);
}

.profile-about-header {
  font-family: 'Hello Bonia Serif', sans-serif;
  font-size: 1.9rem;
}

@media (min-width: 768px) {
  .profile-about-header {
    font-size: 2.5rem;
  }
}

.profile-about-divider {
  border-style: dashed;
  border-width: 2px 0 0 0;
  opacity: 50%;
}

.profile-collapse-link {
  text-decoration: none;
  color: var(--info-link-hover);
  transition: ease all 0.1s;
}

a.profile-collapse-link:hover {
  color: var(--body-font-color);
}

.profile-collapse-link:before {
  content: '✧';
}

.profile-collapse-link.active:before {
  content: '✦';
}

.profile-logs-container, .profile-card {
  background: var(--body-card-bg-color);
}

.profile-logs-title {
  font-size: 1.75rem;
}

.profile-logs-tag {
  font-size: .9em;
  padding: 3px 5px;
}

.profile-logs-img {
  height: 110px;
  width: 170px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
  transition: ease 0.3s all;
}

a .profile-logs-img:hover {
  transform: rotate(5deg);
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color));
}

/******************************************************

*******************************************************/

.design-swatch {
  height: 30px;
  padding-right: 1em;
  text-align: end;
  align-items: center;
  border: 2px white solid;
  border-left-width: 0;
  border-radius: 0 .25em 1em 0;
}

.gallery-card {
  background: var(--body-card-bg-color);
  transition: ease 0.3s all;
}

.gallery-card:hover {
  background: var(--body-card-bg-color);
    transform: rotate(5deg);
  filter: drop-shadow(1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(-1px 1px 0 var(--img-dropshadow-color))
    drop-shadow(1px -1px 0 var(--img-dropshadow-color))
    drop-shadow(0 0 10px black);
}

.gallery-card-thumb {
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-card-info {
  color: var(--body-font-color);
}

.gallery-card-title {
  font-size: 1.2rem;
}